<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.AdCustomMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.AdCustom" >
    <constructor >
      <idArg column="ad_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ad_type" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="ad_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ad_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.peacock.shop.web.domain.AdCustom" >
    <constructor >
      <idArg column="ad_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ad_type" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="ad_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ad_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ad_id, ad_type, ad_name, add_time, url, ad_status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.peacock.shop.web.domain.AdCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ad_custom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.AdCustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ad_custom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ad_custom
    where ad_id = #{adId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ad_custom
    where ad_id = #{adId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.AdCustomExample" >
    delete from ad_custom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.AdCustom" >
    insert into ad_custom (ad_id, ad_type, ad_name, 
      add_time, url, ad_status, 
      content)
    values (#{adId,jdbcType=INTEGER}, #{adType,jdbcType=BIT}, #{adName,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{adStatus,jdbcType=TINYINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.AdCustom" >
    insert into ad_custom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="adType != null" >
        ad_type,
      </if>
      <if test="adName != null" >
        ad_name,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="adStatus != null" >
        ad_status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="adType != null" >
        #{adType,jdbcType=BIT},
      </if>
      <if test="adName != null" >
        #{adName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="adStatus != null" >
        #{adStatus,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.AdCustomExample" resultType="java.lang.Integer" >
    select count(*) from ad_custom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ad_custom
    <set >
      <if test="record.adId != null" >
        ad_id = #{record.adId,jdbcType=INTEGER},
      </if>
      <if test="record.adType != null" >
        ad_type = #{record.adType,jdbcType=BIT},
      </if>
      <if test="record.adName != null" >
        ad_name = #{record.adName,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=INTEGER},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.adStatus != null" >
        ad_status = #{record.adStatus,jdbcType=TINYINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ad_custom
    set ad_id = #{record.adId,jdbcType=INTEGER},
      ad_type = #{record.adType,jdbcType=BIT},
      ad_name = #{record.adName,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      ad_status = #{record.adStatus,jdbcType=TINYINT},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ad_custom
    set ad_id = #{record.adId,jdbcType=INTEGER},
      ad_type = #{record.adType,jdbcType=BIT},
      ad_name = #{record.adName,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      ad_status = #{record.adStatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.AdCustom" >
    update ad_custom
    <set >
      <if test="adType != null" >
        ad_type = #{adType,jdbcType=BIT},
      </if>
      <if test="adName != null" >
        ad_name = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="adStatus != null" >
        ad_status = #{adStatus,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ad_id = #{adId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.peacock.shop.web.domain.AdCustom" >
    update ad_custom
    set ad_type = #{adType,jdbcType=BIT},
      ad_name = #{adName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      ad_status = #{adStatus,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where ad_id = #{adId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.AdCustom" >
    update ad_custom
    set ad_type = #{adType,jdbcType=BIT},
      ad_name = #{adName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      ad_status = #{adStatus,jdbcType=TINYINT}
    where ad_id = #{adId,jdbcType=INTEGER}
  </update>
</mapper>