<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.AdminActionMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.AdminAction" >
    <constructor >
      <idArg column="action_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="parent_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="action_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="relevance" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    action_id, parent_id, action_code, relevance
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.AdminActionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from admin_action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from admin_action
    where action_id = #{actionId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from admin_action
    where action_id = #{actionId,jdbcType=TINYINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.AdminActionExample" >
    delete from admin_action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.AdminAction" >
    insert into admin_action (action_id, parent_id, action_code, 
      relevance)
    values (#{actionId,jdbcType=TINYINT}, #{parentId,jdbcType=TINYINT}, #{actionCode,jdbcType=VARCHAR}, 
      #{relevance,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.AdminAction" >
    insert into admin_action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actionId != null" >
        action_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="actionCode != null" >
        action_code,
      </if>
      <if test="relevance != null" >
        relevance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actionId != null" >
        #{actionId,jdbcType=TINYINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=TINYINT},
      </if>
      <if test="actionCode != null" >
        #{actionCode,jdbcType=VARCHAR},
      </if>
      <if test="relevance != null" >
        #{relevance,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.AdminActionExample" resultType="java.lang.Integer" >
    select count(*) from admin_action
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update admin_action
    <set >
      <if test="record.actionId != null" >
        action_id = #{record.actionId,jdbcType=TINYINT},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=TINYINT},
      </if>
      <if test="record.actionCode != null" >
        action_code = #{record.actionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.relevance != null" >
        relevance = #{record.relevance,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update admin_action
    set action_id = #{record.actionId,jdbcType=TINYINT},
      parent_id = #{record.parentId,jdbcType=TINYINT},
      action_code = #{record.actionCode,jdbcType=VARCHAR},
      relevance = #{record.relevance,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.AdminAction" >
    update admin_action
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=TINYINT},
      </if>
      <if test="actionCode != null" >
        action_code = #{actionCode,jdbcType=VARCHAR},
      </if>
      <if test="relevance != null" >
        relevance = #{relevance,jdbcType=VARCHAR},
      </if>
    </set>
    where action_id = #{actionId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.AdminAction" >
    update admin_action
    set parent_id = #{parentId,jdbcType=TINYINT},
      action_code = #{actionCode,jdbcType=VARCHAR},
      relevance = #{relevance,jdbcType=VARCHAR}
    where action_id = #{actionId,jdbcType=TINYINT}
  </update>
</mapper>