<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.ArticleCatMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.ArticleCat" >
    <constructor >
      <idArg column="cat_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="cat_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cat_type" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="keywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cat_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sort_order" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="show_in_nav" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="parent_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cat_id, cat_name, cat_type, keywords, cat_desc, sort_order, show_in_nav, parent_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.ArticleCatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from article_cat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from article_cat
    where cat_id = #{catId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from article_cat
    where cat_id = #{catId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.ArticleCatExample" >
    delete from article_cat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.ArticleCat" >
    insert into article_cat (cat_id, cat_name, cat_type, 
      keywords, cat_desc, sort_order, 
      show_in_nav, parent_id)
    values (#{catId,jdbcType=SMALLINT}, #{catName,jdbcType=VARCHAR}, #{catType,jdbcType=BIT}, 
      #{keywords,jdbcType=VARCHAR}, #{catDesc,jdbcType=VARCHAR}, #{sortOrder,jdbcType=TINYINT}, 
      #{showInNav,jdbcType=BIT}, #{parentId,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.ArticleCat" >
    insert into article_cat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="catName != null" >
        cat_name,
      </if>
      <if test="catType != null" >
        cat_type,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="catDesc != null" >
        cat_desc,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="showInNav != null" >
        show_in_nav,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catId != null" >
        #{catId,jdbcType=SMALLINT},
      </if>
      <if test="catName != null" >
        #{catName,jdbcType=VARCHAR},
      </if>
      <if test="catType != null" >
        #{catType,jdbcType=BIT},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="catDesc != null" >
        #{catDesc,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="showInNav != null" >
        #{showInNav,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.ArticleCatExample" resultType="java.lang.Integer" >
    select count(*) from article_cat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article_cat
    <set >
      <if test="record.catId != null" >
        cat_id = #{record.catId,jdbcType=SMALLINT},
      </if>
      <if test="record.catName != null" >
        cat_name = #{record.catName,jdbcType=VARCHAR},
      </if>
      <if test="record.catType != null" >
        cat_type = #{record.catType,jdbcType=BIT},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.catDesc != null" >
        cat_desc = #{record.catDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.sortOrder != null" >
        sort_order = #{record.sortOrder,jdbcType=TINYINT},
      </if>
      <if test="record.showInNav != null" >
        show_in_nav = #{record.showInNav,jdbcType=BIT},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article_cat
    set cat_id = #{record.catId,jdbcType=SMALLINT},
      cat_name = #{record.catName,jdbcType=VARCHAR},
      cat_type = #{record.catType,jdbcType=BIT},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      cat_desc = #{record.catDesc,jdbcType=VARCHAR},
      sort_order = #{record.sortOrder,jdbcType=TINYINT},
      show_in_nav = #{record.showInNav,jdbcType=BIT},
      parent_id = #{record.parentId,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.ArticleCat" >
    update article_cat
    <set >
      <if test="catName != null" >
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="catType != null" >
        cat_type = #{catType,jdbcType=BIT},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="catDesc != null" >
        cat_desc = #{catDesc,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="showInNav != null" >
        show_in_nav = #{showInNav,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=SMALLINT},
      </if>
    </set>
    where cat_id = #{catId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.ArticleCat" >
    update article_cat
    set cat_name = #{catName,jdbcType=VARCHAR},
      cat_type = #{catType,jdbcType=BIT},
      keywords = #{keywords,jdbcType=VARCHAR},
      cat_desc = #{catDesc,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=TINYINT},
      show_in_nav = #{showInNav,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=SMALLINT}
    where cat_id = #{catId,jdbcType=SMALLINT}
  </update>
</mapper>