<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.CardMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.Card" >
    <constructor >
      <idArg column="card_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="card_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="free_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="card_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    card_id, card_name, card_img, card_fee, free_money, card_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.CardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from card
    where card_id = #{cardId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from card
    where card_id = #{cardId,jdbcType=TINYINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.CardExample" >
    delete from card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.Card" >
    insert into card (card_id, card_name, card_img, 
      card_fee, free_money, card_desc
      )
    values (#{cardId,jdbcType=TINYINT}, #{cardName,jdbcType=VARCHAR}, #{cardImg,jdbcType=VARCHAR}, 
      #{cardFee,jdbcType=DECIMAL}, #{freeMoney,jdbcType=DECIMAL}, #{cardDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.Card" >
    insert into card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="cardName != null" >
        card_name,
      </if>
      <if test="cardImg != null" >
        card_img,
      </if>
      <if test="cardFee != null" >
        card_fee,
      </if>
      <if test="freeMoney != null" >
        free_money,
      </if>
      <if test="cardDesc != null" >
        card_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardId != null" >
        #{cardId,jdbcType=TINYINT},
      </if>
      <if test="cardName != null" >
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardImg != null" >
        #{cardImg,jdbcType=VARCHAR},
      </if>
      <if test="cardFee != null" >
        #{cardFee,jdbcType=DECIMAL},
      </if>
      <if test="freeMoney != null" >
        #{freeMoney,jdbcType=DECIMAL},
      </if>
      <if test="cardDesc != null" >
        #{cardDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.CardExample" resultType="java.lang.Integer" >
    select count(*) from card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update card
    <set >
      <if test="record.cardId != null" >
        card_id = #{record.cardId,jdbcType=TINYINT},
      </if>
      <if test="record.cardName != null" >
        card_name = #{record.cardName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardImg != null" >
        card_img = #{record.cardImg,jdbcType=VARCHAR},
      </if>
      <if test="record.cardFee != null" >
        card_fee = #{record.cardFee,jdbcType=DECIMAL},
      </if>
      <if test="record.freeMoney != null" >
        free_money = #{record.freeMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.cardDesc != null" >
        card_desc = #{record.cardDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update card
    set card_id = #{record.cardId,jdbcType=TINYINT},
      card_name = #{record.cardName,jdbcType=VARCHAR},
      card_img = #{record.cardImg,jdbcType=VARCHAR},
      card_fee = #{record.cardFee,jdbcType=DECIMAL},
      free_money = #{record.freeMoney,jdbcType=DECIMAL},
      card_desc = #{record.cardDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.Card" >
    update card
    <set >
      <if test="cardName != null" >
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardImg != null" >
        card_img = #{cardImg,jdbcType=VARCHAR},
      </if>
      <if test="cardFee != null" >
        card_fee = #{cardFee,jdbcType=DECIMAL},
      </if>
      <if test="freeMoney != null" >
        free_money = #{freeMoney,jdbcType=DECIMAL},
      </if>
      <if test="cardDesc != null" >
        card_desc = #{cardDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where card_id = #{cardId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.Card" >
    update card
    set card_name = #{cardName,jdbcType=VARCHAR},
      card_img = #{cardImg,jdbcType=VARCHAR},
      card_fee = #{cardFee,jdbcType=DECIMAL},
      free_money = #{freeMoney,jdbcType=DECIMAL},
      card_desc = #{cardDesc,jdbcType=VARCHAR}
    where card_id = #{cardId,jdbcType=TINYINT}
  </update>
</mapper>