<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.Goods" >
    <constructor >
      <idArg column="goods_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cat_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="goods_sn" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_name_style" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="click_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="brand_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="provider_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goods_weight" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="market_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="virtual_sales" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="shop_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="promote_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="promote_start_date" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="promote_end_date" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="warn_number" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="keywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_brief" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_thumb" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="original_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_real" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="extension_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_on_sale" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_alone_sale" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_shipping" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="add_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sort_order" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="is_delete" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_best" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_new" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_hot" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_promote" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="bonus_type_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="last_update" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goods_type" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="seller_note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="give_integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rank_integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="suppliers_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="is_check" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.peacock.shop.web.domain.Goods" >
    <constructor >
      <idArg column="goods_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cat_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="goods_sn" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_name_style" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="click_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="brand_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="provider_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goods_weight" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="market_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="virtual_sales" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="shop_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="promote_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="promote_start_date" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="promote_end_date" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="warn_number" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="keywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_brief" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_thumb" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="original_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_real" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="extension_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_on_sale" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_alone_sale" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_shipping" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="add_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sort_order" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="is_delete" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_best" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_new" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_hot" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_promote" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="bonus_type_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="last_update" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goods_type" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="seller_note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="give_integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rank_integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="suppliers_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="is_check" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="goods_desc" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    goods_id, cat_id, goods_sn, goods_name, goods_name_style, click_count, brand_id, 
    provider_name, goods_number, goods_weight, market_price, virtual_sales, shop_price, 
    promote_price, promote_start_date, promote_end_date, warn_number, keywords, goods_brief, 
    goods_thumb, goods_img, original_img, is_real, extension_code, is_on_sale, is_alone_sale, 
    is_shipping, integral, add_time, sort_order, is_delete, is_best, is_new, is_hot, 
    is_promote, bonus_type_id, last_update, goods_type, seller_note, give_integral, rank_integral, 
    suppliers_id, is_check
  </sql>
  <sql id="Blob_Column_List" >
    goods_desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.peacock.shop.web.domain.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.GoodsExample" >
    delete from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.Goods" >
    insert into goods (goods_id, cat_id, goods_sn, 
      goods_name, goods_name_style, click_count, 
      brand_id, provider_name, goods_number, 
      goods_weight, market_price, virtual_sales, 
      shop_price, promote_price, promote_start_date, 
      promote_end_date, warn_number, keywords, 
      goods_brief, goods_thumb, goods_img, 
      original_img, is_real, extension_code, 
      is_on_sale, is_alone_sale, is_shipping, 
      integral, add_time, sort_order, 
      is_delete, is_best, is_new, is_hot, 
      is_promote, bonus_type_id, last_update, 
      goods_type, seller_note, give_integral, 
      rank_integral, suppliers_id, is_check, 
      goods_desc)
    values (#{goodsId,jdbcType=INTEGER}, #{catId,jdbcType=SMALLINT}, #{goodsSn,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsNameStyle,jdbcType=VARCHAR}, #{clickCount,jdbcType=INTEGER}, 
      #{brandId,jdbcType=SMALLINT}, #{providerName,jdbcType=VARCHAR}, #{goodsNumber,jdbcType=INTEGER}, 
      #{goodsWeight,jdbcType=DECIMAL}, #{marketPrice,jdbcType=DECIMAL}, #{virtualSales,jdbcType=SMALLINT}, 
      #{shopPrice,jdbcType=DECIMAL}, #{promotePrice,jdbcType=DECIMAL}, #{promoteStartDate,jdbcType=INTEGER}, 
      #{promoteEndDate,jdbcType=INTEGER}, #{warnNumber,jdbcType=TINYINT}, #{keywords,jdbcType=VARCHAR}, 
      #{goodsBrief,jdbcType=VARCHAR}, #{goodsThumb,jdbcType=VARCHAR}, #{goodsImg,jdbcType=VARCHAR}, 
      #{originalImg,jdbcType=VARCHAR}, #{isReal,jdbcType=TINYINT}, #{extensionCode,jdbcType=VARCHAR}, 
      #{isOnSale,jdbcType=BIT}, #{isAloneSale,jdbcType=BIT}, #{isShipping,jdbcType=BIT}, 
      #{integral,jdbcType=INTEGER}, #{addTime,jdbcType=INTEGER}, #{sortOrder,jdbcType=SMALLINT}, 
      #{isDelete,jdbcType=BIT}, #{isBest,jdbcType=BIT}, #{isNew,jdbcType=BIT}, #{isHot,jdbcType=BIT}, 
      #{isPromote,jdbcType=BIT}, #{bonusTypeId,jdbcType=TINYINT}, #{lastUpdate,jdbcType=INTEGER}, 
      #{goodsType,jdbcType=SMALLINT}, #{sellerNote,jdbcType=VARCHAR}, #{giveIntegral,jdbcType=INTEGER}, 
      #{rankIntegral,jdbcType=INTEGER}, #{suppliersId,jdbcType=SMALLINT}, #{isCheck,jdbcType=BIT}, 
      #{goodsDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="goodsSn != null" >
        goods_sn,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsNameStyle != null" >
        goods_name_style,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="providerName != null" >
        provider_name,
      </if>
      <if test="goodsNumber != null" >
        goods_number,
      </if>
      <if test="goodsWeight != null" >
        goods_weight,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="virtualSales != null" >
        virtual_sales,
      </if>
      <if test="shopPrice != null" >
        shop_price,
      </if>
      <if test="promotePrice != null" >
        promote_price,
      </if>
      <if test="promoteStartDate != null" >
        promote_start_date,
      </if>
      <if test="promoteEndDate != null" >
        promote_end_date,
      </if>
      <if test="warnNumber != null" >
        warn_number,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="goodsBrief != null" >
        goods_brief,
      </if>
      <if test="goodsThumb != null" >
        goods_thumb,
      </if>
      <if test="goodsImg != null" >
        goods_img,
      </if>
      <if test="originalImg != null" >
        original_img,
      </if>
      <if test="isReal != null" >
        is_real,
      </if>
      <if test="extensionCode != null" >
        extension_code,
      </if>
      <if test="isOnSale != null" >
        is_on_sale,
      </if>
      <if test="isAloneSale != null" >
        is_alone_sale,
      </if>
      <if test="isShipping != null" >
        is_shipping,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isBest != null" >
        is_best,
      </if>
      <if test="isNew != null" >
        is_new,
      </if>
      <if test="isHot != null" >
        is_hot,
      </if>
      <if test="isPromote != null" >
        is_promote,
      </if>
      <if test="bonusTypeId != null" >
        bonus_type_id,
      </if>
      <if test="lastUpdate != null" >
        last_update,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="sellerNote != null" >
        seller_note,
      </if>
      <if test="giveIntegral != null" >
        give_integral,
      </if>
      <if test="rankIntegral != null" >
        rank_integral,
      </if>
      <if test="suppliersId != null" >
        suppliers_id,
      </if>
      <if test="isCheck != null" >
        is_check,
      </if>
      <if test="goodsDesc != null" >
        goods_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=SMALLINT},
      </if>
      <if test="goodsSn != null" >
        #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNameStyle != null" >
        #{goodsNameStyle,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=SMALLINT},
      </if>
      <if test="providerName != null" >
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null" >
        #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsWeight != null" >
        #{goodsWeight,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="virtualSales != null" >
        #{virtualSales,jdbcType=SMALLINT},
      </if>
      <if test="shopPrice != null" >
        #{shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="promotePrice != null" >
        #{promotePrice,jdbcType=DECIMAL},
      </if>
      <if test="promoteStartDate != null" >
        #{promoteStartDate,jdbcType=INTEGER},
      </if>
      <if test="promoteEndDate != null" >
        #{promoteEndDate,jdbcType=INTEGER},
      </if>
      <if test="warnNumber != null" >
        #{warnNumber,jdbcType=TINYINT},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="goodsBrief != null" >
        #{goodsBrief,jdbcType=VARCHAR},
      </if>
      <if test="goodsThumb != null" >
        #{goodsThumb,jdbcType=VARCHAR},
      </if>
      <if test="goodsImg != null" >
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="originalImg != null" >
        #{originalImg,jdbcType=VARCHAR},
      </if>
      <if test="isReal != null" >
        #{isReal,jdbcType=TINYINT},
      </if>
      <if test="extensionCode != null" >
        #{extensionCode,jdbcType=VARCHAR},
      </if>
      <if test="isOnSale != null" >
        #{isOnSale,jdbcType=BIT},
      </if>
      <if test="isAloneSale != null" >
        #{isAloneSale,jdbcType=BIT},
      </if>
      <if test="isShipping != null" >
        #{isShipping,jdbcType=BIT},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="isBest != null" >
        #{isBest,jdbcType=BIT},
      </if>
      <if test="isNew != null" >
        #{isNew,jdbcType=BIT},
      </if>
      <if test="isHot != null" >
        #{isHot,jdbcType=BIT},
      </if>
      <if test="isPromote != null" >
        #{isPromote,jdbcType=BIT},
      </if>
      <if test="bonusTypeId != null" >
        #{bonusTypeId,jdbcType=TINYINT},
      </if>
      <if test="lastUpdate != null" >
        #{lastUpdate,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=SMALLINT},
      </if>
      <if test="sellerNote != null" >
        #{sellerNote,jdbcType=VARCHAR},
      </if>
      <if test="giveIntegral != null" >
        #{giveIntegral,jdbcType=INTEGER},
      </if>
      <if test="rankIntegral != null" >
        #{rankIntegral,jdbcType=INTEGER},
      </if>
      <if test="suppliersId != null" >
        #{suppliersId,jdbcType=SMALLINT},
      </if>
      <if test="isCheck != null" >
        #{isCheck,jdbcType=BIT},
      </if>
      <if test="goodsDesc != null" >
        #{goodsDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.GoodsExample" resultType="java.lang.Integer" >
    select count(*) from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods
    <set >
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.catId != null" >
        cat_id = #{record.catId,jdbcType=SMALLINT},
      </if>
      <if test="record.goodsSn != null" >
        goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsNameStyle != null" >
        goods_name_style = #{record.goodsNameStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.clickCount != null" >
        click_count = #{record.clickCount,jdbcType=INTEGER},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=SMALLINT},
      </if>
      <if test="record.providerName != null" >
        provider_name = #{record.providerName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsNumber != null" >
        goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.goodsWeight != null" >
        goods_weight = #{record.goodsWeight,jdbcType=DECIMAL},
      </if>
      <if test="record.marketPrice != null" >
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.virtualSales != null" >
        virtual_sales = #{record.virtualSales,jdbcType=SMALLINT},
      </if>
      <if test="record.shopPrice != null" >
        shop_price = #{record.shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.promotePrice != null" >
        promote_price = #{record.promotePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.promoteStartDate != null" >
        promote_start_date = #{record.promoteStartDate,jdbcType=INTEGER},
      </if>
      <if test="record.promoteEndDate != null" >
        promote_end_date = #{record.promoteEndDate,jdbcType=INTEGER},
      </if>
      <if test="record.warnNumber != null" >
        warn_number = #{record.warnNumber,jdbcType=TINYINT},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsBrief != null" >
        goods_brief = #{record.goodsBrief,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsThumb != null" >
        goods_thumb = #{record.goodsThumb,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsImg != null" >
        goods_img = #{record.goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="record.originalImg != null" >
        original_img = #{record.originalImg,jdbcType=VARCHAR},
      </if>
      <if test="record.isReal != null" >
        is_real = #{record.isReal,jdbcType=TINYINT},
      </if>
      <if test="record.extensionCode != null" >
        extension_code = #{record.extensionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isOnSale != null" >
        is_on_sale = #{record.isOnSale,jdbcType=BIT},
      </if>
      <if test="record.isAloneSale != null" >
        is_alone_sale = #{record.isAloneSale,jdbcType=BIT},
      </if>
      <if test="record.isShipping != null" >
        is_shipping = #{record.isShipping,jdbcType=BIT},
      </if>
      <if test="record.integral != null" >
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=INTEGER},
      </if>
      <if test="record.sortOrder != null" >
        sort_order = #{record.sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.isBest != null" >
        is_best = #{record.isBest,jdbcType=BIT},
      </if>
      <if test="record.isNew != null" >
        is_new = #{record.isNew,jdbcType=BIT},
      </if>
      <if test="record.isHot != null" >
        is_hot = #{record.isHot,jdbcType=BIT},
      </if>
      <if test="record.isPromote != null" >
        is_promote = #{record.isPromote,jdbcType=BIT},
      </if>
      <if test="record.bonusTypeId != null" >
        bonus_type_id = #{record.bonusTypeId,jdbcType=TINYINT},
      </if>
      <if test="record.lastUpdate != null" >
        last_update = #{record.lastUpdate,jdbcType=INTEGER},
      </if>
      <if test="record.goodsType != null" >
        goods_type = #{record.goodsType,jdbcType=SMALLINT},
      </if>
      <if test="record.sellerNote != null" >
        seller_note = #{record.sellerNote,jdbcType=VARCHAR},
      </if>
      <if test="record.giveIntegral != null" >
        give_integral = #{record.giveIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.rankIntegral != null" >
        rank_integral = #{record.rankIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.suppliersId != null" >
        suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
      </if>
      <if test="record.isCheck != null" >
        is_check = #{record.isCheck,jdbcType=BIT},
      </if>
      <if test="record.goodsDesc != null" >
        goods_desc = #{record.goodsDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update goods
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      cat_id = #{record.catId,jdbcType=SMALLINT},
      goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_name_style = #{record.goodsNameStyle,jdbcType=VARCHAR},
      click_count = #{record.clickCount,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=SMALLINT},
      provider_name = #{record.providerName,jdbcType=VARCHAR},
      goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      goods_weight = #{record.goodsWeight,jdbcType=DECIMAL},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      virtual_sales = #{record.virtualSales,jdbcType=SMALLINT},
      shop_price = #{record.shopPrice,jdbcType=DECIMAL},
      promote_price = #{record.promotePrice,jdbcType=DECIMAL},
      promote_start_date = #{record.promoteStartDate,jdbcType=INTEGER},
      promote_end_date = #{record.promoteEndDate,jdbcType=INTEGER},
      warn_number = #{record.warnNumber,jdbcType=TINYINT},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      goods_brief = #{record.goodsBrief,jdbcType=VARCHAR},
      goods_thumb = #{record.goodsThumb,jdbcType=VARCHAR},
      goods_img = #{record.goodsImg,jdbcType=VARCHAR},
      original_img = #{record.originalImg,jdbcType=VARCHAR},
      is_real = #{record.isReal,jdbcType=TINYINT},
      extension_code = #{record.extensionCode,jdbcType=VARCHAR},
      is_on_sale = #{record.isOnSale,jdbcType=BIT},
      is_alone_sale = #{record.isAloneSale,jdbcType=BIT},
      is_shipping = #{record.isShipping,jdbcType=BIT},
      integral = #{record.integral,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=INTEGER},
      sort_order = #{record.sortOrder,jdbcType=SMALLINT},
      is_delete = #{record.isDelete,jdbcType=BIT},
      is_best = #{record.isBest,jdbcType=BIT},
      is_new = #{record.isNew,jdbcType=BIT},
      is_hot = #{record.isHot,jdbcType=BIT},
      is_promote = #{record.isPromote,jdbcType=BIT},
      bonus_type_id = #{record.bonusTypeId,jdbcType=TINYINT},
      last_update = #{record.lastUpdate,jdbcType=INTEGER},
      goods_type = #{record.goodsType,jdbcType=SMALLINT},
      seller_note = #{record.sellerNote,jdbcType=VARCHAR},
      give_integral = #{record.giveIntegral,jdbcType=INTEGER},
      rank_integral = #{record.rankIntegral,jdbcType=INTEGER},
      suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
      is_check = #{record.isCheck,jdbcType=BIT},
      goods_desc = #{record.goodsDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      cat_id = #{record.catId,jdbcType=SMALLINT},
      goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_name_style = #{record.goodsNameStyle,jdbcType=VARCHAR},
      click_count = #{record.clickCount,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=SMALLINT},
      provider_name = #{record.providerName,jdbcType=VARCHAR},
      goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      goods_weight = #{record.goodsWeight,jdbcType=DECIMAL},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      virtual_sales = #{record.virtualSales,jdbcType=SMALLINT},
      shop_price = #{record.shopPrice,jdbcType=DECIMAL},
      promote_price = #{record.promotePrice,jdbcType=DECIMAL},
      promote_start_date = #{record.promoteStartDate,jdbcType=INTEGER},
      promote_end_date = #{record.promoteEndDate,jdbcType=INTEGER},
      warn_number = #{record.warnNumber,jdbcType=TINYINT},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      goods_brief = #{record.goodsBrief,jdbcType=VARCHAR},
      goods_thumb = #{record.goodsThumb,jdbcType=VARCHAR},
      goods_img = #{record.goodsImg,jdbcType=VARCHAR},
      original_img = #{record.originalImg,jdbcType=VARCHAR},
      is_real = #{record.isReal,jdbcType=TINYINT},
      extension_code = #{record.extensionCode,jdbcType=VARCHAR},
      is_on_sale = #{record.isOnSale,jdbcType=BIT},
      is_alone_sale = #{record.isAloneSale,jdbcType=BIT},
      is_shipping = #{record.isShipping,jdbcType=BIT},
      integral = #{record.integral,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=INTEGER},
      sort_order = #{record.sortOrder,jdbcType=SMALLINT},
      is_delete = #{record.isDelete,jdbcType=BIT},
      is_best = #{record.isBest,jdbcType=BIT},
      is_new = #{record.isNew,jdbcType=BIT},
      is_hot = #{record.isHot,jdbcType=BIT},
      is_promote = #{record.isPromote,jdbcType=BIT},
      bonus_type_id = #{record.bonusTypeId,jdbcType=TINYINT},
      last_update = #{record.lastUpdate,jdbcType=INTEGER},
      goods_type = #{record.goodsType,jdbcType=SMALLINT},
      seller_note = #{record.sellerNote,jdbcType=VARCHAR},
      give_integral = #{record.giveIntegral,jdbcType=INTEGER},
      rank_integral = #{record.rankIntegral,jdbcType=INTEGER},
      suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
      is_check = #{record.isCheck,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.Goods" >
    update goods
    <set >
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=SMALLINT},
      </if>
      <if test="goodsSn != null" >
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNameStyle != null" >
        goods_name_style = #{goodsNameStyle,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=SMALLINT},
      </if>
      <if test="providerName != null" >
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null" >
        goods_number = #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsWeight != null" >
        goods_weight = #{goodsWeight,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="virtualSales != null" >
        virtual_sales = #{virtualSales,jdbcType=SMALLINT},
      </if>
      <if test="shopPrice != null" >
        shop_price = #{shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="promotePrice != null" >
        promote_price = #{promotePrice,jdbcType=DECIMAL},
      </if>
      <if test="promoteStartDate != null" >
        promote_start_date = #{promoteStartDate,jdbcType=INTEGER},
      </if>
      <if test="promoteEndDate != null" >
        promote_end_date = #{promoteEndDate,jdbcType=INTEGER},
      </if>
      <if test="warnNumber != null" >
        warn_number = #{warnNumber,jdbcType=TINYINT},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="goodsBrief != null" >
        goods_brief = #{goodsBrief,jdbcType=VARCHAR},
      </if>
      <if test="goodsThumb != null" >
        goods_thumb = #{goodsThumb,jdbcType=VARCHAR},
      </if>
      <if test="goodsImg != null" >
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="originalImg != null" >
        original_img = #{originalImg,jdbcType=VARCHAR},
      </if>
      <if test="isReal != null" >
        is_real = #{isReal,jdbcType=TINYINT},
      </if>
      <if test="extensionCode != null" >
        extension_code = #{extensionCode,jdbcType=VARCHAR},
      </if>
      <if test="isOnSale != null" >
        is_on_sale = #{isOnSale,jdbcType=BIT},
      </if>
      <if test="isAloneSale != null" >
        is_alone_sale = #{isAloneSale,jdbcType=BIT},
      </if>
      <if test="isShipping != null" >
        is_shipping = #{isShipping,jdbcType=BIT},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="isBest != null" >
        is_best = #{isBest,jdbcType=BIT},
      </if>
      <if test="isNew != null" >
        is_new = #{isNew,jdbcType=BIT},
      </if>
      <if test="isHot != null" >
        is_hot = #{isHot,jdbcType=BIT},
      </if>
      <if test="isPromote != null" >
        is_promote = #{isPromote,jdbcType=BIT},
      </if>
      <if test="bonusTypeId != null" >
        bonus_type_id = #{bonusTypeId,jdbcType=TINYINT},
      </if>
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=SMALLINT},
      </if>
      <if test="sellerNote != null" >
        seller_note = #{sellerNote,jdbcType=VARCHAR},
      </if>
      <if test="giveIntegral != null" >
        give_integral = #{giveIntegral,jdbcType=INTEGER},
      </if>
      <if test="rankIntegral != null" >
        rank_integral = #{rankIntegral,jdbcType=INTEGER},
      </if>
      <if test="suppliersId != null" >
        suppliers_id = #{suppliersId,jdbcType=SMALLINT},
      </if>
      <if test="isCheck != null" >
        is_check = #{isCheck,jdbcType=BIT},
      </if>
      <if test="goodsDesc != null" >
        goods_desc = #{goodsDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.peacock.shop.web.domain.Goods" >
    update goods
    set cat_id = #{catId,jdbcType=SMALLINT},
      goods_sn = #{goodsSn,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_name_style = #{goodsNameStyle,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=SMALLINT},
      provider_name = #{providerName,jdbcType=VARCHAR},
      goods_number = #{goodsNumber,jdbcType=INTEGER},
      goods_weight = #{goodsWeight,jdbcType=DECIMAL},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      virtual_sales = #{virtualSales,jdbcType=SMALLINT},
      shop_price = #{shopPrice,jdbcType=DECIMAL},
      promote_price = #{promotePrice,jdbcType=DECIMAL},
      promote_start_date = #{promoteStartDate,jdbcType=INTEGER},
      promote_end_date = #{promoteEndDate,jdbcType=INTEGER},
      warn_number = #{warnNumber,jdbcType=TINYINT},
      keywords = #{keywords,jdbcType=VARCHAR},
      goods_brief = #{goodsBrief,jdbcType=VARCHAR},
      goods_thumb = #{goodsThumb,jdbcType=VARCHAR},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      original_img = #{originalImg,jdbcType=VARCHAR},
      is_real = #{isReal,jdbcType=TINYINT},
      extension_code = #{extensionCode,jdbcType=VARCHAR},
      is_on_sale = #{isOnSale,jdbcType=BIT},
      is_alone_sale = #{isAloneSale,jdbcType=BIT},
      is_shipping = #{isShipping,jdbcType=BIT},
      integral = #{integral,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=SMALLINT},
      is_delete = #{isDelete,jdbcType=BIT},
      is_best = #{isBest,jdbcType=BIT},
      is_new = #{isNew,jdbcType=BIT},
      is_hot = #{isHot,jdbcType=BIT},
      is_promote = #{isPromote,jdbcType=BIT},
      bonus_type_id = #{bonusTypeId,jdbcType=TINYINT},
      last_update = #{lastUpdate,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=SMALLINT},
      seller_note = #{sellerNote,jdbcType=VARCHAR},
      give_integral = #{giveIntegral,jdbcType=INTEGER},
      rank_integral = #{rankIntegral,jdbcType=INTEGER},
      suppliers_id = #{suppliersId,jdbcType=SMALLINT},
      is_check = #{isCheck,jdbcType=BIT},
      goods_desc = #{goodsDesc,jdbcType=LONGVARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.Goods" >
    update goods
    set cat_id = #{catId,jdbcType=SMALLINT},
      goods_sn = #{goodsSn,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_name_style = #{goodsNameStyle,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=SMALLINT},
      provider_name = #{providerName,jdbcType=VARCHAR},
      goods_number = #{goodsNumber,jdbcType=INTEGER},
      goods_weight = #{goodsWeight,jdbcType=DECIMAL},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      virtual_sales = #{virtualSales,jdbcType=SMALLINT},
      shop_price = #{shopPrice,jdbcType=DECIMAL},
      promote_price = #{promotePrice,jdbcType=DECIMAL},
      promote_start_date = #{promoteStartDate,jdbcType=INTEGER},
      promote_end_date = #{promoteEndDate,jdbcType=INTEGER},
      warn_number = #{warnNumber,jdbcType=TINYINT},
      keywords = #{keywords,jdbcType=VARCHAR},
      goods_brief = #{goodsBrief,jdbcType=VARCHAR},
      goods_thumb = #{goodsThumb,jdbcType=VARCHAR},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      original_img = #{originalImg,jdbcType=VARCHAR},
      is_real = #{isReal,jdbcType=TINYINT},
      extension_code = #{extensionCode,jdbcType=VARCHAR},
      is_on_sale = #{isOnSale,jdbcType=BIT},
      is_alone_sale = #{isAloneSale,jdbcType=BIT},
      is_shipping = #{isShipping,jdbcType=BIT},
      integral = #{integral,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=SMALLINT},
      is_delete = #{isDelete,jdbcType=BIT},
      is_best = #{isBest,jdbcType=BIT},
      is_new = #{isNew,jdbcType=BIT},
      is_hot = #{isHot,jdbcType=BIT},
      is_promote = #{isPromote,jdbcType=BIT},
      bonus_type_id = #{bonusTypeId,jdbcType=TINYINT},
      last_update = #{lastUpdate,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=SMALLINT},
      seller_note = #{sellerNote,jdbcType=VARCHAR},
      give_integral = #{giveIntegral,jdbcType=INTEGER},
      rank_integral = #{rankIntegral,jdbcType=INTEGER},
      suppliers_id = #{suppliersId,jdbcType=SMALLINT},
      is_check = #{isCheck,jdbcType=BIT}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>