<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.GroupGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.GroupGoods" >
    <constructor >
      <idArg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="goods_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="admin_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="goods_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    parent_id, goods_id, admin_id, goods_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.GroupGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from group_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.GroupGoodsKey" >
    select 
    <include refid="Base_Column_List" />
    from group_goods
    where parent_id = #{parentId,jdbcType=INTEGER}
      and goods_id = #{goodsId,jdbcType=INTEGER}
      and admin_id = #{adminId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.peacock.shop.web.domain.GroupGoodsKey" >
    delete from group_goods
    where parent_id = #{parentId,jdbcType=INTEGER}
      and goods_id = #{goodsId,jdbcType=INTEGER}
      and admin_id = #{adminId,jdbcType=TINYINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.GroupGoodsExample" >
    delete from group_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.GroupGoods" >
    insert into group_goods (parent_id, goods_id, admin_id, 
      goods_price)
    values (#{parentId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{adminId,jdbcType=TINYINT}, 
      #{goodsPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.GroupGoods" >
    insert into group_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=TINYINT},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.GroupGoodsExample" resultType="java.lang.Integer" >
    select count(*) from group_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update group_goods
    <set >
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=TINYINT},
      </if>
      <if test="record.goodsPrice != null" >
        goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update group_goods
    set parent_id = #{record.parentId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      admin_id = #{record.adminId,jdbcType=TINYINT},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.GroupGoods" >
    update group_goods
    <set >
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where parent_id = #{parentId,jdbcType=INTEGER}
      and goods_id = #{goodsId,jdbcType=INTEGER}
      and admin_id = #{adminId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.GroupGoods" >
    update group_goods
    set goods_price = #{goodsPrice,jdbcType=DECIMAL}
    where parent_id = #{parentId,jdbcType=INTEGER}
      and goods_id = #{goodsId,jdbcType=INTEGER}
      and admin_id = #{adminId,jdbcType=TINYINT}
  </update>
</mapper>