<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.KeywordMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.Keyword" >
    <constructor >
      <idArg column="date" jdbcType="DATE" javaType="java.util.Date" />
      <idArg column="searchengine" jdbcType="VARCHAR" javaType="java.lang.String" />
      <idArg column="keyword" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="count" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    date, searchengine, keyword, count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.KeywordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from keywords
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.KeywordKey" >
    select 
    <include refid="Base_Column_List" />
    from keywords
    where date = #{date,jdbcType=DATE}
      and searchengine = #{searchengine,jdbcType=VARCHAR}
      and keyword = #{keyword,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.peacock.shop.web.domain.KeywordKey" >
    delete from keywords
    where date = #{date,jdbcType=DATE}
      and searchengine = #{searchengine,jdbcType=VARCHAR}
      and keyword = #{keyword,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.KeywordExample" >
    delete from keywords
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.Keyword" >
    insert into keywords (date, searchengine, keyword, 
      count)
    values (#{date,jdbcType=DATE}, #{searchengine,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.Keyword" >
    insert into keywords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="date != null" >
        date,
      </if>
      <if test="searchengine != null" >
        searchengine,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="searchengine != null" >
        #{searchengine,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.KeywordExample" resultType="java.lang.Integer" >
    select count(*) from keywords
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update keywords
    <set >
      <if test="record.date != null" >
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.searchengine != null" >
        searchengine = #{record.searchengine,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword != null" >
        keyword = #{record.keyword,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update keywords
    set date = #{record.date,jdbcType=DATE},
      searchengine = #{record.searchengine,jdbcType=VARCHAR},
      keyword = #{record.keyword,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.Keyword" >
    update keywords
    <set >
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where date = #{date,jdbcType=DATE}
      and searchengine = #{searchengine,jdbcType=VARCHAR}
      and keyword = #{keyword,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.Keyword" >
    update keywords
    set count = #{count,jdbcType=INTEGER}
    where date = #{date,jdbcType=DATE}
      and searchengine = #{searchengine,jdbcType=VARCHAR}
      and keyword = #{keyword,jdbcType=VARCHAR}
  </update>
</mapper>