<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.OrderInfo" >
    <constructor >
      <idArg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_sn" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="shipping_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="pay_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="consignee" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="country" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="province" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="city" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="district" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="zipcode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="best_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sign_building" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="postscript" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shipping_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="shipping_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pay_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="pay_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="how_oos" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="how_surplus" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pack_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card_message" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="inv_payee" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="inv_content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="shipping_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="insure_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="pay_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="pack_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="card_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="goods_discount_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="money_paid" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="surplus" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="integral_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="bonus" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="order_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="from_ad" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="referer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="confirm_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pay_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shipping_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pack_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="card_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="bonus_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="invoice_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="extension_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="extension_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="to_buyer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pay_note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="agency_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="inv_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tax" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="is_separate" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="discount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="callback_status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="lastmodify" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, order_sn, user_id, order_status, shipping_status, pay_status, consignee, 
    country, province, city, district, address, zipcode, tel, mobile, email, best_time, 
    sign_building, postscript, shipping_id, shipping_name, pay_id, pay_name, how_oos, 
    how_surplus, pack_name, card_name, card_message, inv_payee, inv_content, goods_amount, 
    shipping_fee, insure_fee, pay_fee, pack_fee, card_fee, goods_discount_fee, money_paid, 
    surplus, integral, integral_money, bonus, order_amount, from_ad, referer, add_time, 
    confirm_time, pay_time, shipping_time, pack_id, card_id, bonus_id, invoice_no, extension_code, 
    extension_id, to_buyer, pay_note, agency_id, inv_type, tax, is_separate, parent_id, 
    discount, callback_status, lastmodify
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.OrderInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_info
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_info
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.OrderInfoExample" >
    delete from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.OrderInfo" >
    insert into order_info (order_id, order_sn, user_id, 
      order_status, shipping_status, pay_status, 
      consignee, country, province, 
      city, district, address, 
      zipcode, tel, mobile, 
      email, best_time, sign_building, 
      postscript, shipping_id, shipping_name, 
      pay_id, pay_name, how_oos, 
      how_surplus, pack_name, card_name, 
      card_message, inv_payee, inv_content, 
      goods_amount, shipping_fee, insure_fee, 
      pay_fee, pack_fee, card_fee, 
      goods_discount_fee, money_paid, surplus, 
      integral, integral_money, bonus, 
      order_amount, from_ad, referer, 
      add_time, confirm_time, pay_time, 
      shipping_time, pack_id, card_id, 
      bonus_id, invoice_no, extension_code, 
      extension_id, to_buyer, pay_note, 
      agency_id, inv_type, tax, 
      is_separate, parent_id, discount, 
      callback_status, lastmodify)
    values (#{orderId,jdbcType=INTEGER}, #{orderSn,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{orderStatus,jdbcType=TINYINT}, #{shippingStatus,jdbcType=TINYINT}, #{payStatus,jdbcType=TINYINT}, 
      #{consignee,jdbcType=VARCHAR}, #{country,jdbcType=SMALLINT}, #{province,jdbcType=SMALLINT}, 
      #{city,jdbcType=SMALLINT}, #{district,jdbcType=SMALLINT}, #{address,jdbcType=VARCHAR}, 
      #{zipcode,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{bestTime,jdbcType=VARCHAR}, #{signBuilding,jdbcType=VARCHAR}, 
      #{postscript,jdbcType=VARCHAR}, #{shippingId,jdbcType=TINYINT}, #{shippingName,jdbcType=VARCHAR}, 
      #{payId,jdbcType=TINYINT}, #{payName,jdbcType=VARCHAR}, #{howOos,jdbcType=VARCHAR}, 
      #{howSurplus,jdbcType=VARCHAR}, #{packName,jdbcType=VARCHAR}, #{cardName,jdbcType=VARCHAR}, 
      #{cardMessage,jdbcType=VARCHAR}, #{invPayee,jdbcType=VARCHAR}, #{invContent,jdbcType=VARCHAR}, 
      #{goodsAmount,jdbcType=DECIMAL}, #{shippingFee,jdbcType=DECIMAL}, #{insureFee,jdbcType=DECIMAL}, 
      #{payFee,jdbcType=DECIMAL}, #{packFee,jdbcType=DECIMAL}, #{cardFee,jdbcType=DECIMAL}, 
      #{goodsDiscountFee,jdbcType=DECIMAL}, #{moneyPaid,jdbcType=DECIMAL}, #{surplus,jdbcType=DECIMAL}, 
      #{integral,jdbcType=INTEGER}, #{integralMoney,jdbcType=DECIMAL}, #{bonus,jdbcType=DECIMAL}, 
      #{orderAmount,jdbcType=DECIMAL}, #{fromAd,jdbcType=SMALLINT}, #{referer,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=INTEGER}, #{confirmTime,jdbcType=INTEGER}, #{payTime,jdbcType=INTEGER}, 
      #{shippingTime,jdbcType=INTEGER}, #{packId,jdbcType=TINYINT}, #{cardId,jdbcType=TINYINT}, 
      #{bonusId,jdbcType=INTEGER}, #{invoiceNo,jdbcType=VARCHAR}, #{extensionCode,jdbcType=VARCHAR}, 
      #{extensionId,jdbcType=INTEGER}, #{toBuyer,jdbcType=VARCHAR}, #{payNote,jdbcType=VARCHAR}, 
      #{agencyId,jdbcType=SMALLINT}, #{invType,jdbcType=VARCHAR}, #{tax,jdbcType=DECIMAL}, 
      #{isSeparate,jdbcType=TINYINT}, #{parentId,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL}, 
      #{callbackStatus,jdbcType=CHAR}, #{lastmodify,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.OrderInfo" >
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderSn != null" >
        order_sn,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="shippingStatus != null" >
        shipping_status,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="zipcode != null" >
        zipcode,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="bestTime != null" >
        best_time,
      </if>
      <if test="signBuilding != null" >
        sign_building,
      </if>
      <if test="postscript != null" >
        postscript,
      </if>
      <if test="shippingId != null" >
        shipping_id,
      </if>
      <if test="shippingName != null" >
        shipping_name,
      </if>
      <if test="payId != null" >
        pay_id,
      </if>
      <if test="payName != null" >
        pay_name,
      </if>
      <if test="howOos != null" >
        how_oos,
      </if>
      <if test="howSurplus != null" >
        how_surplus,
      </if>
      <if test="packName != null" >
        pack_name,
      </if>
      <if test="cardName != null" >
        card_name,
      </if>
      <if test="cardMessage != null" >
        card_message,
      </if>
      <if test="invPayee != null" >
        inv_payee,
      </if>
      <if test="invContent != null" >
        inv_content,
      </if>
      <if test="goodsAmount != null" >
        goods_amount,
      </if>
      <if test="shippingFee != null" >
        shipping_fee,
      </if>
      <if test="insureFee != null" >
        insure_fee,
      </if>
      <if test="payFee != null" >
        pay_fee,
      </if>
      <if test="packFee != null" >
        pack_fee,
      </if>
      <if test="cardFee != null" >
        card_fee,
      </if>
      <if test="goodsDiscountFee != null" >
        goods_discount_fee,
      </if>
      <if test="moneyPaid != null" >
        money_paid,
      </if>
      <if test="surplus != null" >
        surplus,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="integralMoney != null" >
        integral_money,
      </if>
      <if test="bonus != null" >
        bonus,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="fromAd != null" >
        from_ad,
      </if>
      <if test="referer != null" >
        referer,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="confirmTime != null" >
        confirm_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="shippingTime != null" >
        shipping_time,
      </if>
      <if test="packId != null" >
        pack_id,
      </if>
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="bonusId != null" >
        bonus_id,
      </if>
      <if test="invoiceNo != null" >
        invoice_no,
      </if>
      <if test="extensionCode != null" >
        extension_code,
      </if>
      <if test="extensionId != null" >
        extension_id,
      </if>
      <if test="toBuyer != null" >
        to_buyer,
      </if>
      <if test="payNote != null" >
        pay_note,
      </if>
      <if test="agencyId != null" >
        agency_id,
      </if>
      <if test="invType != null" >
        inv_type,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="isSeparate != null" >
        is_separate,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="callbackStatus != null" >
        callback_status,
      </if>
      <if test="lastmodify != null" >
        lastmodify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="shippingStatus != null" >
        #{shippingStatus,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=SMALLINT},
      </if>
      <if test="province != null" >
        #{province,jdbcType=SMALLINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=SMALLINT},
      </if>
      <if test="district != null" >
        #{district,jdbcType=SMALLINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="bestTime != null" >
        #{bestTime,jdbcType=VARCHAR},
      </if>
      <if test="signBuilding != null" >
        #{signBuilding,jdbcType=VARCHAR},
      </if>
      <if test="postscript != null" >
        #{postscript,jdbcType=VARCHAR},
      </if>
      <if test="shippingId != null" >
        #{shippingId,jdbcType=TINYINT},
      </if>
      <if test="shippingName != null" >
        #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="payId != null" >
        #{payId,jdbcType=TINYINT},
      </if>
      <if test="payName != null" >
        #{payName,jdbcType=VARCHAR},
      </if>
      <if test="howOos != null" >
        #{howOos,jdbcType=VARCHAR},
      </if>
      <if test="howSurplus != null" >
        #{howSurplus,jdbcType=VARCHAR},
      </if>
      <if test="packName != null" >
        #{packName,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null" >
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardMessage != null" >
        #{cardMessage,jdbcType=VARCHAR},
      </if>
      <if test="invPayee != null" >
        #{invPayee,jdbcType=VARCHAR},
      </if>
      <if test="invContent != null" >
        #{invContent,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null" >
        #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingFee != null" >
        #{shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="insureFee != null" >
        #{insureFee,jdbcType=DECIMAL},
      </if>
      <if test="payFee != null" >
        #{payFee,jdbcType=DECIMAL},
      </if>
      <if test="packFee != null" >
        #{packFee,jdbcType=DECIMAL},
      </if>
      <if test="cardFee != null" >
        #{cardFee,jdbcType=DECIMAL},
      </if>
      <if test="goodsDiscountFee != null" >
        #{goodsDiscountFee,jdbcType=DECIMAL},
      </if>
      <if test="moneyPaid != null" >
        #{moneyPaid,jdbcType=DECIMAL},
      </if>
      <if test="surplus != null" >
        #{surplus,jdbcType=DECIMAL},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="integralMoney != null" >
        #{integralMoney,jdbcType=DECIMAL},
      </if>
      <if test="bonus != null" >
        #{bonus,jdbcType=DECIMAL},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="fromAd != null" >
        #{fromAd,jdbcType=SMALLINT},
      </if>
      <if test="referer != null" >
        #{referer,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=INTEGER},
      </if>
      <if test="shippingTime != null" >
        #{shippingTime,jdbcType=INTEGER},
      </if>
      <if test="packId != null" >
        #{packId,jdbcType=TINYINT},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=TINYINT},
      </if>
      <if test="bonusId != null" >
        #{bonusId,jdbcType=INTEGER},
      </if>
      <if test="invoiceNo != null" >
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="extensionCode != null" >
        #{extensionCode,jdbcType=VARCHAR},
      </if>
      <if test="extensionId != null" >
        #{extensionId,jdbcType=INTEGER},
      </if>
      <if test="toBuyer != null" >
        #{toBuyer,jdbcType=VARCHAR},
      </if>
      <if test="payNote != null" >
        #{payNote,jdbcType=VARCHAR},
      </if>
      <if test="agencyId != null" >
        #{agencyId,jdbcType=SMALLINT},
      </if>
      <if test="invType != null" >
        #{invType,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=DECIMAL},
      </if>
      <if test="isSeparate != null" >
        #{isSeparate,jdbcType=TINYINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="callbackStatus != null" >
        #{callbackStatus,jdbcType=CHAR},
      </if>
      <if test="lastmodify != null" >
        #{lastmodify,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.OrderInfoExample" resultType="java.lang.Integer" >
    select count(*) from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_info
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.orderSn != null" >
        order_sn = #{record.orderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=TINYINT},
      </if>
      <if test="record.shippingStatus != null" >
        shipping_status = #{record.shippingStatus,jdbcType=TINYINT},
      </if>
      <if test="record.payStatus != null" >
        pay_status = #{record.payStatus,jdbcType=TINYINT},
      </if>
      <if test="record.consignee != null" >
        consignee = #{record.consignee,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=SMALLINT},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=SMALLINT},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=SMALLINT},
      </if>
      <if test="record.district != null" >
        district = #{record.district,jdbcType=SMALLINT},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.zipcode != null" >
        zipcode = #{record.zipcode,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.bestTime != null" >
        best_time = #{record.bestTime,jdbcType=VARCHAR},
      </if>
      <if test="record.signBuilding != null" >
        sign_building = #{record.signBuilding,jdbcType=VARCHAR},
      </if>
      <if test="record.postscript != null" >
        postscript = #{record.postscript,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingId != null" >
        shipping_id = #{record.shippingId,jdbcType=TINYINT},
      </if>
      <if test="record.shippingName != null" >
        shipping_name = #{record.shippingName,jdbcType=VARCHAR},
      </if>
      <if test="record.payId != null" >
        pay_id = #{record.payId,jdbcType=TINYINT},
      </if>
      <if test="record.payName != null" >
        pay_name = #{record.payName,jdbcType=VARCHAR},
      </if>
      <if test="record.howOos != null" >
        how_oos = #{record.howOos,jdbcType=VARCHAR},
      </if>
      <if test="record.howSurplus != null" >
        how_surplus = #{record.howSurplus,jdbcType=VARCHAR},
      </if>
      <if test="record.packName != null" >
        pack_name = #{record.packName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardName != null" >
        card_name = #{record.cardName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardMessage != null" >
        card_message = #{record.cardMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.invPayee != null" >
        inv_payee = #{record.invPayee,jdbcType=VARCHAR},
      </if>
      <if test="record.invContent != null" >
        inv_content = #{record.invContent,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAmount != null" >
        goods_amount = #{record.goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.shippingFee != null" >
        shipping_fee = #{record.shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="record.insureFee != null" >
        insure_fee = #{record.insureFee,jdbcType=DECIMAL},
      </if>
      <if test="record.payFee != null" >
        pay_fee = #{record.payFee,jdbcType=DECIMAL},
      </if>
      <if test="record.packFee != null" >
        pack_fee = #{record.packFee,jdbcType=DECIMAL},
      </if>
      <if test="record.cardFee != null" >
        card_fee = #{record.cardFee,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsDiscountFee != null" >
        goods_discount_fee = #{record.goodsDiscountFee,jdbcType=DECIMAL},
      </if>
      <if test="record.moneyPaid != null" >
        money_paid = #{record.moneyPaid,jdbcType=DECIMAL},
      </if>
      <if test="record.surplus != null" >
        surplus = #{record.surplus,jdbcType=DECIMAL},
      </if>
      <if test="record.integral != null" >
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.integralMoney != null" >
        integral_money = #{record.integralMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.bonus != null" >
        bonus = #{record.bonus,jdbcType=DECIMAL},
      </if>
      <if test="record.orderAmount != null" >
        order_amount = #{record.orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.fromAd != null" >
        from_ad = #{record.fromAd,jdbcType=SMALLINT},
      </if>
      <if test="record.referer != null" >
        referer = #{record.referer,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=INTEGER},
      </if>
      <if test="record.confirmTime != null" >
        confirm_time = #{record.confirmTime,jdbcType=INTEGER},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=INTEGER},
      </if>
      <if test="record.shippingTime != null" >
        shipping_time = #{record.shippingTime,jdbcType=INTEGER},
      </if>
      <if test="record.packId != null" >
        pack_id = #{record.packId,jdbcType=TINYINT},
      </if>
      <if test="record.cardId != null" >
        card_id = #{record.cardId,jdbcType=TINYINT},
      </if>
      <if test="record.bonusId != null" >
        bonus_id = #{record.bonusId,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceNo != null" >
        invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.extensionCode != null" >
        extension_code = #{record.extensionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.extensionId != null" >
        extension_id = #{record.extensionId,jdbcType=INTEGER},
      </if>
      <if test="record.toBuyer != null" >
        to_buyer = #{record.toBuyer,jdbcType=VARCHAR},
      </if>
      <if test="record.payNote != null" >
        pay_note = #{record.payNote,jdbcType=VARCHAR},
      </if>
      <if test="record.agencyId != null" >
        agency_id = #{record.agencyId,jdbcType=SMALLINT},
      </if>
      <if test="record.invType != null" >
        inv_type = #{record.invType,jdbcType=VARCHAR},
      </if>
      <if test="record.tax != null" >
        tax = #{record.tax,jdbcType=DECIMAL},
      </if>
      <if test="record.isSeparate != null" >
        is_separate = #{record.isSeparate,jdbcType=TINYINT},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.callbackStatus != null" >
        callback_status = #{record.callbackStatus,jdbcType=CHAR},
      </if>
      <if test="record.lastmodify != null" >
        lastmodify = #{record.lastmodify,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_info
    set order_id = #{record.orderId,jdbcType=INTEGER},
      order_sn = #{record.orderSn,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      order_status = #{record.orderStatus,jdbcType=TINYINT},
      shipping_status = #{record.shippingStatus,jdbcType=TINYINT},
      pay_status = #{record.payStatus,jdbcType=TINYINT},
      consignee = #{record.consignee,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=SMALLINT},
      province = #{record.province,jdbcType=SMALLINT},
      city = #{record.city,jdbcType=SMALLINT},
      district = #{record.district,jdbcType=SMALLINT},
      address = #{record.address,jdbcType=VARCHAR},
      zipcode = #{record.zipcode,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      best_time = #{record.bestTime,jdbcType=VARCHAR},
      sign_building = #{record.signBuilding,jdbcType=VARCHAR},
      postscript = #{record.postscript,jdbcType=VARCHAR},
      shipping_id = #{record.shippingId,jdbcType=TINYINT},
      shipping_name = #{record.shippingName,jdbcType=VARCHAR},
      pay_id = #{record.payId,jdbcType=TINYINT},
      pay_name = #{record.payName,jdbcType=VARCHAR},
      how_oos = #{record.howOos,jdbcType=VARCHAR},
      how_surplus = #{record.howSurplus,jdbcType=VARCHAR},
      pack_name = #{record.packName,jdbcType=VARCHAR},
      card_name = #{record.cardName,jdbcType=VARCHAR},
      card_message = #{record.cardMessage,jdbcType=VARCHAR},
      inv_payee = #{record.invPayee,jdbcType=VARCHAR},
      inv_content = #{record.invContent,jdbcType=VARCHAR},
      goods_amount = #{record.goodsAmount,jdbcType=DECIMAL},
      shipping_fee = #{record.shippingFee,jdbcType=DECIMAL},
      insure_fee = #{record.insureFee,jdbcType=DECIMAL},
      pay_fee = #{record.payFee,jdbcType=DECIMAL},
      pack_fee = #{record.packFee,jdbcType=DECIMAL},
      card_fee = #{record.cardFee,jdbcType=DECIMAL},
      goods_discount_fee = #{record.goodsDiscountFee,jdbcType=DECIMAL},
      money_paid = #{record.moneyPaid,jdbcType=DECIMAL},
      surplus = #{record.surplus,jdbcType=DECIMAL},
      integral = #{record.integral,jdbcType=INTEGER},
      integral_money = #{record.integralMoney,jdbcType=DECIMAL},
      bonus = #{record.bonus,jdbcType=DECIMAL},
      order_amount = #{record.orderAmount,jdbcType=DECIMAL},
      from_ad = #{record.fromAd,jdbcType=SMALLINT},
      referer = #{record.referer,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=INTEGER},
      confirm_time = #{record.confirmTime,jdbcType=INTEGER},
      pay_time = #{record.payTime,jdbcType=INTEGER},
      shipping_time = #{record.shippingTime,jdbcType=INTEGER},
      pack_id = #{record.packId,jdbcType=TINYINT},
      card_id = #{record.cardId,jdbcType=TINYINT},
      bonus_id = #{record.bonusId,jdbcType=INTEGER},
      invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      extension_code = #{record.extensionCode,jdbcType=VARCHAR},
      extension_id = #{record.extensionId,jdbcType=INTEGER},
      to_buyer = #{record.toBuyer,jdbcType=VARCHAR},
      pay_note = #{record.payNote,jdbcType=VARCHAR},
      agency_id = #{record.agencyId,jdbcType=SMALLINT},
      inv_type = #{record.invType,jdbcType=VARCHAR},
      tax = #{record.tax,jdbcType=DECIMAL},
      is_separate = #{record.isSeparate,jdbcType=TINYINT},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      discount = #{record.discount,jdbcType=DECIMAL},
      callback_status = #{record.callbackStatus,jdbcType=CHAR},
      lastmodify = #{record.lastmodify,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.OrderInfo" >
    update order_info
    <set >
      <if test="orderSn != null" >
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="shippingStatus != null" >
        shipping_status = #{shippingStatus,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="consignee != null" >
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=SMALLINT},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=SMALLINT},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=SMALLINT},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=SMALLINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        zipcode = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="bestTime != null" >
        best_time = #{bestTime,jdbcType=VARCHAR},
      </if>
      <if test="signBuilding != null" >
        sign_building = #{signBuilding,jdbcType=VARCHAR},
      </if>
      <if test="postscript != null" >
        postscript = #{postscript,jdbcType=VARCHAR},
      </if>
      <if test="shippingId != null" >
        shipping_id = #{shippingId,jdbcType=TINYINT},
      </if>
      <if test="shippingName != null" >
        shipping_name = #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="payId != null" >
        pay_id = #{payId,jdbcType=TINYINT},
      </if>
      <if test="payName != null" >
        pay_name = #{payName,jdbcType=VARCHAR},
      </if>
      <if test="howOos != null" >
        how_oos = #{howOos,jdbcType=VARCHAR},
      </if>
      <if test="howSurplus != null" >
        how_surplus = #{howSurplus,jdbcType=VARCHAR},
      </if>
      <if test="packName != null" >
        pack_name = #{packName,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null" >
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardMessage != null" >
        card_message = #{cardMessage,jdbcType=VARCHAR},
      </if>
      <if test="invPayee != null" >
        inv_payee = #{invPayee,jdbcType=VARCHAR},
      </if>
      <if test="invContent != null" >
        inv_content = #{invContent,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null" >
        goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingFee != null" >
        shipping_fee = #{shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="insureFee != null" >
        insure_fee = #{insureFee,jdbcType=DECIMAL},
      </if>
      <if test="payFee != null" >
        pay_fee = #{payFee,jdbcType=DECIMAL},
      </if>
      <if test="packFee != null" >
        pack_fee = #{packFee,jdbcType=DECIMAL},
      </if>
      <if test="cardFee != null" >
        card_fee = #{cardFee,jdbcType=DECIMAL},
      </if>
      <if test="goodsDiscountFee != null" >
        goods_discount_fee = #{goodsDiscountFee,jdbcType=DECIMAL},
      </if>
      <if test="moneyPaid != null" >
        money_paid = #{moneyPaid,jdbcType=DECIMAL},
      </if>
      <if test="surplus != null" >
        surplus = #{surplus,jdbcType=DECIMAL},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="integralMoney != null" >
        integral_money = #{integralMoney,jdbcType=DECIMAL},
      </if>
      <if test="bonus != null" >
        bonus = #{bonus,jdbcType=DECIMAL},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="fromAd != null" >
        from_ad = #{fromAd,jdbcType=SMALLINT},
      </if>
      <if test="referer != null" >
        referer = #{referer,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="confirmTime != null" >
        confirm_time = #{confirmTime,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=INTEGER},
      </if>
      <if test="shippingTime != null" >
        shipping_time = #{shippingTime,jdbcType=INTEGER},
      </if>
      <if test="packId != null" >
        pack_id = #{packId,jdbcType=TINYINT},
      </if>
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=TINYINT},
      </if>
      <if test="bonusId != null" >
        bonus_id = #{bonusId,jdbcType=INTEGER},
      </if>
      <if test="invoiceNo != null" >
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="extensionCode != null" >
        extension_code = #{extensionCode,jdbcType=VARCHAR},
      </if>
      <if test="extensionId != null" >
        extension_id = #{extensionId,jdbcType=INTEGER},
      </if>
      <if test="toBuyer != null" >
        to_buyer = #{toBuyer,jdbcType=VARCHAR},
      </if>
      <if test="payNote != null" >
        pay_note = #{payNote,jdbcType=VARCHAR},
      </if>
      <if test="agencyId != null" >
        agency_id = #{agencyId,jdbcType=SMALLINT},
      </if>
      <if test="invType != null" >
        inv_type = #{invType,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        tax = #{tax,jdbcType=DECIMAL},
      </if>
      <if test="isSeparate != null" >
        is_separate = #{isSeparate,jdbcType=TINYINT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="callbackStatus != null" >
        callback_status = #{callbackStatus,jdbcType=CHAR},
      </if>
      <if test="lastmodify != null" >
        lastmodify = #{lastmodify,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.OrderInfo" >
    update order_info
    set order_sn = #{orderSn,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=TINYINT},
      shipping_status = #{shippingStatus,jdbcType=TINYINT},
      pay_status = #{payStatus,jdbcType=TINYINT},
      consignee = #{consignee,jdbcType=VARCHAR},
      country = #{country,jdbcType=SMALLINT},
      province = #{province,jdbcType=SMALLINT},
      city = #{city,jdbcType=SMALLINT},
      district = #{district,jdbcType=SMALLINT},
      address = #{address,jdbcType=VARCHAR},
      zipcode = #{zipcode,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      best_time = #{bestTime,jdbcType=VARCHAR},
      sign_building = #{signBuilding,jdbcType=VARCHAR},
      postscript = #{postscript,jdbcType=VARCHAR},
      shipping_id = #{shippingId,jdbcType=TINYINT},
      shipping_name = #{shippingName,jdbcType=VARCHAR},
      pay_id = #{payId,jdbcType=TINYINT},
      pay_name = #{payName,jdbcType=VARCHAR},
      how_oos = #{howOos,jdbcType=VARCHAR},
      how_surplus = #{howSurplus,jdbcType=VARCHAR},
      pack_name = #{packName,jdbcType=VARCHAR},
      card_name = #{cardName,jdbcType=VARCHAR},
      card_message = #{cardMessage,jdbcType=VARCHAR},
      inv_payee = #{invPayee,jdbcType=VARCHAR},
      inv_content = #{invContent,jdbcType=VARCHAR},
      goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      shipping_fee = #{shippingFee,jdbcType=DECIMAL},
      insure_fee = #{insureFee,jdbcType=DECIMAL},
      pay_fee = #{payFee,jdbcType=DECIMAL},
      pack_fee = #{packFee,jdbcType=DECIMAL},
      card_fee = #{cardFee,jdbcType=DECIMAL},
      goods_discount_fee = #{goodsDiscountFee,jdbcType=DECIMAL},
      money_paid = #{moneyPaid,jdbcType=DECIMAL},
      surplus = #{surplus,jdbcType=DECIMAL},
      integral = #{integral,jdbcType=INTEGER},
      integral_money = #{integralMoney,jdbcType=DECIMAL},
      bonus = #{bonus,jdbcType=DECIMAL},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      from_ad = #{fromAd,jdbcType=SMALLINT},
      referer = #{referer,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      confirm_time = #{confirmTime,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=INTEGER},
      shipping_time = #{shippingTime,jdbcType=INTEGER},
      pack_id = #{packId,jdbcType=TINYINT},
      card_id = #{cardId,jdbcType=TINYINT},
      bonus_id = #{bonusId,jdbcType=INTEGER},
      invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      extension_code = #{extensionCode,jdbcType=VARCHAR},
      extension_id = #{extensionId,jdbcType=INTEGER},
      to_buyer = #{toBuyer,jdbcType=VARCHAR},
      pay_note = #{payNote,jdbcType=VARCHAR},
      agency_id = #{agencyId,jdbcType=SMALLINT},
      inv_type = #{invType,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=DECIMAL},
      is_separate = #{isSeparate,jdbcType=TINYINT},
      parent_id = #{parentId,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DECIMAL},
      callback_status = #{callbackStatus,jdbcType=CHAR},
      lastmodify = #{lastmodify,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>