<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.statsMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.stats" >
    <constructor >
      <arg column="access_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ip_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="visit_times" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="browser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="system" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="language" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="referer_domain" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="referer_path" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="access_url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    access_time, ip_address, visit_times, browser, system, language, area, referer_domain, 
    referer_path, access_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.statsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stats
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.statsExample" >
    delete from stats
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.stats" >
    insert into stats (access_time, ip_address, visit_times, 
      browser, system, language, 
      area, referer_domain, referer_path, 
      access_url)
    values (#{accessTime,jdbcType=INTEGER}, #{ipAddress,jdbcType=VARCHAR}, #{visitTimes,jdbcType=SMALLINT}, 
      #{browser,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{refererDomain,jdbcType=VARCHAR}, #{refererPath,jdbcType=VARCHAR}, 
      #{accessUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.stats" >
    insert into stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accessTime != null" >
        access_time,
      </if>
      <if test="ipAddress != null" >
        ip_address,
      </if>
      <if test="visitTimes != null" >
        visit_times,
      </if>
      <if test="browser != null" >
        browser,
      </if>
      <if test="system != null" >
        system,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="refererDomain != null" >
        referer_domain,
      </if>
      <if test="refererPath != null" >
        referer_path,
      </if>
      <if test="accessUrl != null" >
        access_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accessTime != null" >
        #{accessTime,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="visitTimes != null" >
        #{visitTimes,jdbcType=SMALLINT},
      </if>
      <if test="browser != null" >
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="system != null" >
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="refererDomain != null" >
        #{refererDomain,jdbcType=VARCHAR},
      </if>
      <if test="refererPath != null" >
        #{refererPath,jdbcType=VARCHAR},
      </if>
      <if test="accessUrl != null" >
        #{accessUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.statsExample" resultType="java.lang.Integer" >
    select count(*) from stats
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stats
    <set >
      <if test="record.accessTime != null" >
        access_time = #{record.accessTime,jdbcType=INTEGER},
      </if>
      <if test="record.ipAddress != null" >
        ip_address = #{record.ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.visitTimes != null" >
        visit_times = #{record.visitTimes,jdbcType=SMALLINT},
      </if>
      <if test="record.browser != null" >
        browser = #{record.browser,jdbcType=VARCHAR},
      </if>
      <if test="record.system != null" >
        system = #{record.system,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null" >
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.refererDomain != null" >
        referer_domain = #{record.refererDomain,jdbcType=VARCHAR},
      </if>
      <if test="record.refererPath != null" >
        referer_path = #{record.refererPath,jdbcType=VARCHAR},
      </if>
      <if test="record.accessUrl != null" >
        access_url = #{record.accessUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stats
    set access_time = #{record.accessTime,jdbcType=INTEGER},
      ip_address = #{record.ipAddress,jdbcType=VARCHAR},
      visit_times = #{record.visitTimes,jdbcType=SMALLINT},
      browser = #{record.browser,jdbcType=VARCHAR},
      system = #{record.system,jdbcType=VARCHAR},
      language = #{record.language,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      referer_domain = #{record.refererDomain,jdbcType=VARCHAR},
      referer_path = #{record.refererPath,jdbcType=VARCHAR},
      access_url = #{record.accessUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>