<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.Supplier" >
    <constructor >
      <idArg column="suppliers_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="suppliers_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_check" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.peacock.shop.web.domain.Supplier" >
    <constructor >
      <idArg column="suppliers_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="suppliers_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_check" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="suppliers_desc" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    suppliers_id, suppliers_name, is_check
  </sql>
  <sql id="Blob_Column_List" >
    suppliers_desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.peacock.shop.web.domain.SupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from suppliers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.SupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from suppliers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from suppliers
    where suppliers_id = #{suppliersId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from suppliers
    where suppliers_id = #{suppliersId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.SupplierExample" >
    delete from suppliers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.Supplier" >
    insert into suppliers (suppliers_id, suppliers_name, is_check, 
      suppliers_desc)
    values (#{suppliersId,jdbcType=SMALLINT}, #{suppliersName,jdbcType=VARCHAR}, #{isCheck,jdbcType=BIT}, 
      #{suppliersDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.Supplier" >
    insert into suppliers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suppliersId != null" >
        suppliers_id,
      </if>
      <if test="suppliersName != null" >
        suppliers_name,
      </if>
      <if test="isCheck != null" >
        is_check,
      </if>
      <if test="suppliersDesc != null" >
        suppliers_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="suppliersId != null" >
        #{suppliersId,jdbcType=SMALLINT},
      </if>
      <if test="suppliersName != null" >
        #{suppliersName,jdbcType=VARCHAR},
      </if>
      <if test="isCheck != null" >
        #{isCheck,jdbcType=BIT},
      </if>
      <if test="suppliersDesc != null" >
        #{suppliersDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.SupplierExample" resultType="java.lang.Integer" >
    select count(*) from suppliers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update suppliers
    <set >
      <if test="record.suppliersId != null" >
        suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
      </if>
      <if test="record.suppliersName != null" >
        suppliers_name = #{record.suppliersName,jdbcType=VARCHAR},
      </if>
      <if test="record.isCheck != null" >
        is_check = #{record.isCheck,jdbcType=BIT},
      </if>
      <if test="record.suppliersDesc != null" >
        suppliers_desc = #{record.suppliersDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update suppliers
    set suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
      suppliers_name = #{record.suppliersName,jdbcType=VARCHAR},
      is_check = #{record.isCheck,jdbcType=BIT},
      suppliers_desc = #{record.suppliersDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update suppliers
    set suppliers_id = #{record.suppliersId,jdbcType=SMALLINT},
      suppliers_name = #{record.suppliersName,jdbcType=VARCHAR},
      is_check = #{record.isCheck,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.Supplier" >
    update suppliers
    <set >
      <if test="suppliersName != null" >
        suppliers_name = #{suppliersName,jdbcType=VARCHAR},
      </if>
      <if test="isCheck != null" >
        is_check = #{isCheck,jdbcType=BIT},
      </if>
      <if test="suppliersDesc != null" >
        suppliers_desc = #{suppliersDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where suppliers_id = #{suppliersId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.peacock.shop.web.domain.Supplier" >
    update suppliers
    set suppliers_name = #{suppliersName,jdbcType=VARCHAR},
      is_check = #{isCheck,jdbcType=BIT},
      suppliers_desc = #{suppliersDesc,jdbcType=LONGVARCHAR}
    where suppliers_id = #{suppliersId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.Supplier" >
    update suppliers
    set suppliers_name = #{suppliersName,jdbcType=VARCHAR},
      is_check = #{isCheck,jdbcType=BIT}
    where suppliers_id = #{suppliersId,jdbcType=SMALLINT}
  </update>
</mapper>