<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.Topic" >
    <constructor >
      <arg column="topic_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="end_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="template" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="topic_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title_pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="base_style" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="keywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.peacock.shop.web.domain.TopicWithBLOBs" >
    <constructor >
      <arg column="topic_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="end_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="template" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="topic_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title_pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="base_style" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="keywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="intro" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="data" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="css" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="htmls" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    topic_id, title, start_time, end_time, template, topic_img, title_pic, base_style, 
    keywords, description
  </sql>
  <sql id="Blob_Column_List" >
    intro, data, css, htmls
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.peacock.shop.web.domain.TopicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.TopicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.TopicExample" >
    delete from topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.TopicWithBLOBs" >
    insert into topic (topic_id, title, start_time, 
      end_time, template, topic_img, 
      title_pic, base_style, keywords, 
      description, intro, data, 
      css, htmls)
    values (#{topicId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{startTime,jdbcType=INTEGER}, 
      #{endTime,jdbcType=INTEGER}, #{template,jdbcType=VARCHAR}, #{topicImg,jdbcType=VARCHAR}, 
      #{titlePic,jdbcType=VARCHAR}, #{baseStyle,jdbcType=CHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{intro,jdbcType=LONGVARCHAR}, #{data,jdbcType=LONGVARCHAR}, 
      #{css,jdbcType=LONGVARCHAR}, #{htmls,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.TopicWithBLOBs" >
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="template != null" >
        template,
      </if>
      <if test="topicImg != null" >
        topic_img,
      </if>
      <if test="titlePic != null" >
        title_pic,
      </if>
      <if test="baseStyle != null" >
        base_style,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="css != null" >
        css,
      </if>
      <if test="htmls != null" >
        htmls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=INTEGER},
      </if>
      <if test="template != null" >
        #{template,jdbcType=VARCHAR},
      </if>
      <if test="topicImg != null" >
        #{topicImg,jdbcType=VARCHAR},
      </if>
      <if test="titlePic != null" >
        #{titlePic,jdbcType=VARCHAR},
      </if>
      <if test="baseStyle != null" >
        #{baseStyle,jdbcType=CHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=LONGVARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=LONGVARCHAR},
      </if>
      <if test="css != null" >
        #{css,jdbcType=LONGVARCHAR},
      </if>
      <if test="htmls != null" >
        #{htmls,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.TopicExample" resultType="java.lang.Integer" >
    select count(*) from topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update topic
    <set >
      <if test="record.topicId != null" >
        topic_id = #{record.topicId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=INTEGER},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=INTEGER},
      </if>
      <if test="record.template != null" >
        template = #{record.template,jdbcType=VARCHAR},
      </if>
      <if test="record.topicImg != null" >
        topic_img = #{record.topicImg,jdbcType=VARCHAR},
      </if>
      <if test="record.titlePic != null" >
        title_pic = #{record.titlePic,jdbcType=VARCHAR},
      </if>
      <if test="record.baseStyle != null" >
        base_style = #{record.baseStyle,jdbcType=CHAR},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.intro != null" >
        intro = #{record.intro,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.data != null" >
        data = #{record.data,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.css != null" >
        css = #{record.css,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.htmls != null" >
        htmls = #{record.htmls,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update topic
    set topic_id = #{record.topicId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=INTEGER},
      end_time = #{record.endTime,jdbcType=INTEGER},
      template = #{record.template,jdbcType=VARCHAR},
      topic_img = #{record.topicImg,jdbcType=VARCHAR},
      title_pic = #{record.titlePic,jdbcType=VARCHAR},
      base_style = #{record.baseStyle,jdbcType=CHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      intro = #{record.intro,jdbcType=LONGVARCHAR},
      data = #{record.data,jdbcType=LONGVARCHAR},
      css = #{record.css,jdbcType=LONGVARCHAR},
      htmls = #{record.htmls,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update topic
    set topic_id = #{record.topicId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=INTEGER},
      end_time = #{record.endTime,jdbcType=INTEGER},
      template = #{record.template,jdbcType=VARCHAR},
      topic_img = #{record.topicImg,jdbcType=VARCHAR},
      title_pic = #{record.titlePic,jdbcType=VARCHAR},
      base_style = #{record.baseStyle,jdbcType=CHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>