<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peacock.shop.web.mapper.UserBonusMapper" >
  <resultMap id="BaseResultMap" type="com.peacock.shop.web.domain.UserBonus" >
    <constructor >
      <idArg column="bonus_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bonus_type_id" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="bonus_sn" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="used_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="emailed" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bonus_id, bonus_type_id, bonus_sn, user_id, used_time, order_id, emailed
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peacock.shop.web.domain.UserBonusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_bonus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_bonus
    where bonus_id = #{bonusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_bonus
    where bonus_id = #{bonusId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.peacock.shop.web.domain.UserBonusExample" >
    delete from user_bonus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peacock.shop.web.domain.UserBonus" >
    insert into user_bonus (bonus_id, bonus_type_id, bonus_sn, 
      user_id, used_time, order_id, 
      emailed)
    values (#{bonusId,jdbcType=INTEGER}, #{bonusTypeId,jdbcType=TINYINT}, #{bonusSn,jdbcType=BIGINT}, 
      #{userId,jdbcType=INTEGER}, #{usedTime,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{emailed,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.peacock.shop.web.domain.UserBonus" >
    insert into user_bonus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bonusId != null" >
        bonus_id,
      </if>
      <if test="bonusTypeId != null" >
        bonus_type_id,
      </if>
      <if test="bonusSn != null" >
        bonus_sn,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="usedTime != null" >
        used_time,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="emailed != null" >
        emailed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bonusId != null" >
        #{bonusId,jdbcType=INTEGER},
      </if>
      <if test="bonusTypeId != null" >
        #{bonusTypeId,jdbcType=TINYINT},
      </if>
      <if test="bonusSn != null" >
        #{bonusSn,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="usedTime != null" >
        #{usedTime,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="emailed != null" >
        #{emailed,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peacock.shop.web.domain.UserBonusExample" resultType="java.lang.Integer" >
    select count(*) from user_bonus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_bonus
    <set >
      <if test="record.bonusId != null" >
        bonus_id = #{record.bonusId,jdbcType=INTEGER},
      </if>
      <if test="record.bonusTypeId != null" >
        bonus_type_id = #{record.bonusTypeId,jdbcType=TINYINT},
      </if>
      <if test="record.bonusSn != null" >
        bonus_sn = #{record.bonusSn,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.usedTime != null" >
        used_time = #{record.usedTime,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.emailed != null" >
        emailed = #{record.emailed,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_bonus
    set bonus_id = #{record.bonusId,jdbcType=INTEGER},
      bonus_type_id = #{record.bonusTypeId,jdbcType=TINYINT},
      bonus_sn = #{record.bonusSn,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      used_time = #{record.usedTime,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      emailed = #{record.emailed,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peacock.shop.web.domain.UserBonus" >
    update user_bonus
    <set >
      <if test="bonusTypeId != null" >
        bonus_type_id = #{bonusTypeId,jdbcType=TINYINT},
      </if>
      <if test="bonusSn != null" >
        bonus_sn = #{bonusSn,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="usedTime != null" >
        used_time = #{usedTime,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="emailed != null" >
        emailed = #{emailed,jdbcType=TINYINT},
      </if>
    </set>
    where bonus_id = #{bonusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peacock.shop.web.domain.UserBonus" >
    update user_bonus
    set bonus_type_id = #{bonusTypeId,jdbcType=TINYINT},
      bonus_sn = #{bonusSn,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=INTEGER},
      used_time = #{usedTime,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      emailed = #{emailed,jdbcType=TINYINT}
    where bonus_id = #{bonusId,jdbcType=INTEGER}
  </update>
</mapper>